$primary:#59D7A2;
$secondary: #E71CA2;
$third: #95D6EA;
$typography:#0A0A0B;
$background-black:#0A0A0B;
$background-white: linear-gradient(180deg, rgba(89, 215, 162, 0) 0%, rgba(89, 215, 162, 0.05) 100%);
$subtitle: rgba(10, 10, 11, 0.64);
$background-botton : #FFFF;
$color-box-shadow: rgba(0, 0, 0, 0.1);